<script>
		setTimeout(function(){
		var links = document.createElement('div');
		links.innerHTML ='<div class="table"><div class="tr"><div class="td left" width="33%"><a href="https://qm.qq.com/q/JbBVnkjzKa" target="_blank">QQ交流群</a></div><div class="td left" width="33%"><a href="https://github.com/oppen321/Lede-update" target="_blank">GitHub仓库</a></div><div class="td left"><a href="https://github.com/oppen321/Lede-update/releases/tag/X86_64_6.6" target="_blank">固件下载</a></div></div></div>';
		var telegram = document.querySelectorAll(".cbi-section")[0];
		telegram.appendChild(links);
		}, 3000);
</script>
