<script>
    var links = document.createElement('div');
    links.innerHTML = '<div class="table"><div class="tr"><div class="td left" width="33%"><a href="https://qm.qq.com/q/PFytspFMC4" target="_blank">QQ交流群</a></div><div class="td left" width="33%"><a href="https://github.com/oppen321/Lede-update" target="_blank">GitHub项目</a></div><div class="td left"><a href="https://github.com/oppen321/Lede-update/releases" target="_blank">下载地址</a></div></div></div>';
    var section = document.querySelectorAll(".cbi-section")[0];
    section.appendChild(links);
</script>